#page {
    height: 100vh;
}

/* For media screens */
@media screen and (max-width: 969px) {
    #page {
        min-height: 100vh;
    }
}

aside {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

aside.padding {
    padding: 10px 30px;
}

aside #logo {
    font-weight: bold;
    color: #3f3fdf;
    font-size: 2em;
}

aside ul {
    text-align: left;
}

aside ul li {
    padding: 5px 0px;
}

aside .menu-list a.is-active {
    background-color: transparent;
    color: dodgerblue;
}

.blue-btn {
    background-image: linear-gradient(to bottom, dodgerblue, #3f72df);
    color: white;
    width: 100%;
}

.border {
    border: 2px solid #ddd;
}

.rounded {
    border-radius: 10px;
}

main {
    background-color: #00f;
}